* {
    border: 1px solid black;
}

html, body {
    height: 98%;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left {
    float: left;
    flex-grow: 1;
    height: 100%;
}

.right {
    float: right;
    flex-grow: 1;
    height: 100%;

}

.code-options {
    justify-content: flex-start;
}


.code-area {
    height: 80%;
}

.code-io {
    display: flex;
    flex-direction: row;
    height: 15%;
}

.code-input {
    justify-content: flex-start;
    width: 48%;
}

.code-output {
    justify-content: flex-end;
    width: 48%;
}

textarea {
    width: 100%;
    height: 100%;
}

.CodeMirror {
    height: 100%;
}